{% extends 'base.html' %}
{% block head %}
<title>HOME PAGE</title>
<link rel="stylesheet" href="static/css/home.css">
{% endblock  %}

{% block content %}
<h1 align="center" id="heading">WELCOME TO THE HOME PAGE</h1>
<div class="container p-4 border border-warning rounded" id="division">
    <div class="row p-5">
        <a class="btn btn-danger col-12 p-4" class="col-12 btn btn-danger p-4"><b>FOR PATIENTS</b></a>
    </div>
    <div class="row p-5">
        <a class="btn btn-success col-12 p-4" href="{% url 'registration' %}"><b>FOR CLINICS/HOSPITALS/NURSING HOMES</b></a>
    </div>
</div>
{% endblock  %}